<div class="registration">
    <div class="container">
      <div class="row">
        <div class="col-md-8 py-5">
          <h2>REGISTRATION/LEASE AGREEMENTS</h2>
          <p>Note:</p>
          <p>
              Primitive campers and traders see below for registration forms.  These forms can be filled out on your computer, then printed.  Most computers will be able to print these forms but some older systems may not.  In this case you will need to call out secretary and have one sent to you.
          </p>
          <div><b>Mail Forms To:</b></div>
          <div><b>FORT BRIDGER RENDEZVOUS ASSOCIATION</b></div>
          <div><b>1967 NORTH 950 WEST</b></div>
          <div><b>Clinton UT, 84015</b></div>
          <div><b>801-635-4038</b></div>
          <div><b>fbrainc@hotmail.com</b></div>
          <br>
          <div><b>DUE DATES ARE AS FOLLOWS:</b></div>
          <div><b>*TRADERS AND FOOD VENDORS – JANUARY 1, FOR YEAR OF RENDEZVOUS</b></div>
          <div><b>*PRIMITIVE CAMPERS – MARCH 1, FOR YEAR OF RENDEZVOUS</b></div>
          <br>
          <p>
            Remember this is a by invitation only Rendezvous
          </p>
        </div>
        <div class="col-md-4 logo-wrap">
            <img src="https://i.imgur.com/cIcHxny.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>2020 Applications</h3>
          <div><b>“IF YOU ARE HAVING ISSUES FILLING OUT FORMS BELOW, PLEASE OPEN IN ADOBE READER“</b></div>
          <br>
          <div class="link-wrap">
            <a class="link" href="https://get.adobe.com/reader/" target="_blank"><b>INSTALL ADOBE READER FROM THIS LINK</b></a>
            <a class="link" href="assets/pdfs/CamperApplication2020.pdf" target="_blank">PRIMITIVE CAMPER APPLICATION FORM 2020</a>
            <a class="link" href="assets/pdfs/TraderApplication2020.pdf" target="_blank">TRADER / VENDOR APPLICATION FORM 2020</a>
          </div>
          <br>
          <h3>2020 Lease Agreements</h3>
          <div class="link-wrap">
            <a href="assets/pdfs/CamperLeaseAgreement2020.pdf" class="link" target="_blank">PRIMITIVE CAMPER LEASE AGREEMENT 2020</a>
            <a href="assets/pdfs/TraderLeaseAgreement2020.pdf" class="link" target="_blank">TRADER / VENDOR LEASE AGREEMENT 2020</a>
          </div>
          <br>
          <h3>2019 No Trade List</h3>
          <div><b>“ALSO FOUND UNDER INFO –>RULES AND REGULATIONS“</b></div>
          <div class="link-wrap">
            <a href="assets/pdfs/TraderNoTradeList2020.pdf" class="link" target="_blank">NO TRADE LIST PROHIBITED ITEMS 2020</a>
          </div>
          <br>
          <h3>2020 FBRA Membership</h3>
          <div class="link-wrap">
            <a href="assets/pdfs/FBRAMembershipApplication2019.pdf" class="link" target="_blank">FBRA MEMBERSHIP APPLICATION 2020</a>
          </div>
        </div>
      </div>
    </div>
  </div>