<div class="header">
    <div class="header-img">
        <span>Fort Bridger Rendezvous</span>
        <div class="nav-wrap">
            <a id="btn-flx" routerLink="" routerLinkActive="active">Home</a>
            <a id="btn-flx" routerLink="tab-two" routerLinkActive="active">Maps</a>
            <a id="btn-flx" routerLink="registration" routerLinkActive="active">Registration</a>
            <a id="btn-flx" href="">FBRA Board</a>
            <a id="btn-flx" href="">2019 SCHEDULE</a>
        </div>
    </div>
</div>